@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

header {
    animation: 1s ease-out 0s 1 slideInFromLeft;

    background: #333;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    background-color: #131313
}

.hamburger {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.pagewrap {
    background: linear-gradient(-45deg, #57ec00, #ff0000, #002fff, #00f7ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.snap {
    scroll-snap-align: center;
}

.snap-top {
    scroll-snap-align: start;
}

#exp-list {
    margin-left: 1.3rem;
}

.experienceWrap {
    margin-top: 30vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

a {
    color: #ffffff;
    text-decoration: none;
    font-family: FoundrySterlingOT3W03-Bold, FoundrySterlingOT3W10-Bold, Arial, Helvetica, sans-serif;
    font-weight: 900;
}

a:hover {
    color: #c4c4c4;
    text-decoration: none;
}

.header {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    margin-top: -20px;
    max-height: 82px;
}

#logo {
    max-width: 65px;
    height: 40px;
}

.introimage {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px 5px #484848;
}

#hello {
    margin-top: 5rem;
}

.intro {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-shadow: 2px 2px rgba(128, 128, 128, 0.24);
    justify-content: center;
    margin-top: 10rem;
}

#down-arrow {
    font-size: 6rem;
    text-align: center;
    color: #000;
    border: 5px solid black;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    padding-bottom: 3px;
}

nav {
    text-shadow: 2px 2px rgba(128, 128, 128, 0.24);
    background-color: #131313;
}

#kevin {
    color: rgb(255, 255, 255);
}

.skillsTitle {
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.col-6 {
    justify-content: center;
}

#logo-div {
    background-color: #ffffff;
    border-radius: 5px;
}

.skills {
    margin-top: 16rem;
}


.skillsList {
    list-style-type: none;
    text-shadow: 2px 2px rgba(128, 128, 128, 0.24);
    justify-content: center;
}

#typewriter {
    min-height: 60px;
}

li {
    margin: 20px;
    color: rgb(0, 0, 0);
    font-family: montserrat, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.about {
    color: rgb(0, 0, 0);
    font-family: montserrat, sans-serif;
    font-size: 2rem;
    font-weight: 1.75;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px rgba(128, 128, 128, 0.24);
}

.aboutWrap {
    margin-top: 24vh;
}

#about-me {
    text-align: center;
    font-size: 2.75rem;
    color: #000
}

.contact {
    margin-top: 20px;
    margin-bottom: 100px;
    padding-top: 0;
    color: rgb(0, 0, 0);
    font-size: 80px;
    font-family: montserrat, sans-serif;
    text-align: center;
    vertical-align: text-top;
}

li img {
    width: 15vw;
    display: block;
    margin: 0 auto
}

#html5 {
    width: 13.5vw
}

#css {
    width: 16vw
}

#sql {
    width: 14.8vw
}

#jscript {
    width: 17vw
}

#sass {
    width: 18vw;
    height: 14.25vw
}

#java {
   height: 19vw
}

#boot {
    width: 15.25vw
}

#php {
    width: 17vw
}

#skill-scroll {
    scroll-margin-top: 130px;
}

#about-scroll {
    scroll-margin-top: -75px;
}

#contact-scroll {
    scroll-margin-top: -1000px;
}

footer{
    align-content: space-evenly;
    height: 8vh;
    color: #fff;
    background-color: #131313;
    text-align: center;
}

footer a{
    font-size: 3rem;
    color: #fff;
    display: block;
}

/*@media (max-width: 390px) {*/
/*    #logo {*/
/*        max-width: 65px;*/
/*        height: 40px;*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 130px;*/
/*    }*/
/*}*/

/*@media (max-width: 580px) {*/
/*    li img {*/
/*        width: 10vw;*/
/*    }*/

/*    #sql {*/
/*        width: 15vw*/
/*    }*/

/*    #java {*/
/*        width: 11.5vw;*/
/*    }*/

/*    #python {*/
/*        width: 14.8vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 13.75vw*/
/*    }*/

/*    #css {*/
/*        width: 16.15vw;*/
/*    }*/

/*    #sass {*/
/*        width: 20vw;*/
/*    }*/

/*    #react {*/
/*        width: 11vw;*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 70px;*/
/*    }*/
/*}*/

/*@media (max-width: 767.98px) {*/
/*    li img {*/
/*        width: 8vw;*/
/*    }*/

/*    #java {*/
/*        height: 12vw;*/
/*        width: 10vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 10vw;*/
/*    }*/

/*    #sql {*/
/*        width: 9.85vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 8.75vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 10.75vw;*/
/*    }*/

/*    #html {*/
/*        width: 2vw;*/
/*    }*/

/*    #sass {*/
/*        height: 8vw;*/
/*        width: 11vw;*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 80px*/
/*    }*/
/*}*/

/*@media (max-width: 991.98px) {*/
/*    li img {*/
/*        width: 7vw;*/
/*    }*/

/*    #java {*/
/*        height: 10.85vw;*/
/*        width: 9vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 9vw;*/
/*    }*/

/*    #sql {*/
/*        width: 8.85vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 7.75vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 9.75vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 8vw;*/
/*        width: 11vw;*/
/*    }*/

/*    #python {*/
/*        width: 8.25vw;*/
/*    }*/

/*    #php {*/
/*        width: 12vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 5rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.15rem*/
/*    }*/
/*}*/

/*@media (max-width: 1199.98px) {*/
/*    li img {*/
/*        width: 5vw;*/
/*    }*/

/*    #java {*/
/*        height: 7.35vw;*/
/*        width:7vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 7.65vw;*/
/*    }*/

/*    #sql {*/
/*        width: 6.15vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 6.5vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 6.75vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 8vw;*/
/*        width: 11vw;*/
/*    }*/

/*    #python {*/
/*        width: 8.25vw;*/
/*    }*/

/*    #php {*/
/*        width: 12vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 5rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.4rem*/
/*    }*/
/*}*/

/*@media (max-width: 1400px) {*/
/*    li img {*/
/*        width: 3vw;*/
/*    }*/

/*    #java {*/
/*        height: 6.4vw;*/
/*        width:7vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 6.4vw;*/
/*    }*/

/*    #sql {*/
/*        width: 5vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 5.5vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 5.75vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 7vw;*/
/*        width: 10vw;*/
/*    }*/

/*    #python {*/
/*        width: 7.2vw;*/
/*    }*/

/*    #php {*/
/*        width: 12vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 5rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.6rem*/
/*    }*/
/*}*/

/*@media (max-width: 1600px) {*/
/*    li img {*/
/*        width: 3vw;*/
/*    }*/

/*    #java {*/
/*        height: 6.25vw;*/
/*        width:6vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 5.75vw;*/
/*    }*/

/*    #sql {*/
/*        width: 4.5vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 5vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 5.25vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 6vw;*/
/*        width: 10vw;*/
/*    }*/

/*    #python {*/
/*        width: 6.2vw;*/
/*    }*/

/*    #php {*/
/*        width: 12vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 5rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.6rem*/
/*    }*/
/*}*/

/*@media (max-width: 1800px) {*/
/*    li img {*/
/*        width: 3vw;*/
/*    }*/

/*    #java {*/
/*        height: 5.1vw;*/
/*        width: 5vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 4.9vw;*/
/*    }*/

/*    #sql {*/
/*        width: 4.1vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 4.5vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 4.5vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 5vw;*/
/*        width: 8.5vw;*/
/*    }*/

/*    #python {*/
/*        width: 5vw;*/
/*    }*/

/*    #php {*/
/*        width: 10vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 5rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.8rem*/
/*    }*/
/*}*/

/*@media (min-width: 1800px) {*/
/*    li img {*/
/*        width: 3vw;*/
/*    }*/

/*    #java {*/
/*        height: 5.1vw;*/
/*        width: 5vw*/
/*    }*/

/*    #boot, #react {*/
/*        width: 4.9vw;*/
/*    }*/

/*    #sql {*/
/*        width: 4.1vw;*/
/*    }*/

/*    #html5 {*/
/*        width: 4.5vw;*/
/*    }*/

/*    #css, #jscript {*/
/*        width: 4.5vw;*/
/*    }*/

/*    #html {*/
/*        width: 1.75vw;*/
/*    }*/

/*    #sass {*/
/*        height: 5vw;*/
/*        width: 8.5vw;*/
/*    }*/

/*    #python {*/
/*        width: 5vw;*/
/*    }*/

/*    #php {*/
/*        width: 10vw*/
/*    }*/

/*    #skill-scroll {*/
/*        scroll-margin-top: 50px*/
/*    }*/

/*    #about-me {*/
/*        font-size: 6rem*/
/*    }*/

/*    .about {*/
/*        font-size: 2.9rem*/
/*    }*/
/*}*/

